<h1>Listing ideas</h1>

<% @ideas.in_groups_of(5) do |group| %>
  <div class="row">
    <% group.compact.each do |idea| %>
      <div class="col-md-2">
        <td><%= image_tag idea.picture_url(:thumb) if idea.picture? %></td>
        <h4><%= link_to idea.name, idea %></h4>
        <%= idea.description %>
      </div>
    <% end %>
  </div>
<% end %>

<br />
